<!-- Copyright 2017 github.com/steelstring94 -->

<!-- This file is part of Tic-Tac-Toe by steelstring94.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="container" style="text-align: center;">
	<div class="board" style="z-index: 10;K">
		<div class="row" *ngFor="let row of board; index as i">
			<div class="cell" *ngFor="let cell of row; index as k" [ngSwitch]="cell" (click)="onClick(i, k)">
				<span *ngSwitchCase="0">&nbsp;</span>
				<span *ngSwitchCase="1">X</span>
				<span *ngSwitchCase="2">O</span>
			</div>
		</div>
	</div>
	<div class = "victoryDiv">
		<p class="victoryMessage" *ngIf="victory">{{victor}} wins!</p>
		<p class="victoryMessage" *ngIf="draw">It's a draw!</p>
	</div>
	<br>
	<button class="reset" (click)="reset()">Reset</button>
</div>
