/* Copyright 2017 github.com/steelstring94 */

/*  This file is part of Tic-Tac-Toe by steelstring94.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.board {
	width: 15em;
	margin: 5em auto 0 auto;
	box-sizing: border-box;
	text-align: center;
}

.row {
	width: 100%;
	display: block;
	min-width: 100%;
	min-height: 2em;
	box-sizing: border-box;
	padding: 0;
}

.cell {
	font-size: 150%;
	display: inline-block;
	width: 3em;
	min-height: 100%;
	border: 1px solid black;
	margin: auto;
	padding: 1em;
	text-align: center;
	box-sizing: border-box;
}

.victoryDiv {
	height: 20px;
	font-size: 150%;
}

.victoryMessage {
	display: inline-block;
	position: relative;
	bottom: 20px;
}

.reset {
	font-size: 150%;
}
